html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}


#app {
    height: 100%;
}


// 手机端自适应
@media screen and (max-width:600px) {

    // 弹窗
    .el-dialog {
        width: 90% !important;
    }

    // 登录框
    .login-container {
        width: 65% !important;
    }
}