body {
    margin: 0;
}

// 全局dialog自适应 
// 小于600自适应
@media screen and (max-width:600px) {
    .el-dialog {
        width: 90% !important;
    }
    .login-container{
        width: 65% !important;
    }
}

